@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
  background: #111827;
}

h2 {
  @apply text-xl md:text-3xl;
}
p {
  @apply text-sm md:text-base;
}

.blb-image {
  background-image: url("./assets/images/hammad.jpg");
  width: 380px;
  height: 380px;
  background-size: cover;
  background-position: center center;
  /* margin: 20px; */
  box-shadow: 0 5px 5px 5px rgba(13, 110, 0 253, 0.1);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}
